html, body {
    overflow: hidden;
}

.lg-slider{
    background: url("../images/home/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/* Media query for mobile devices (adjust max-width as needed) */
@media (max-width: 767px) {
    .lg-slider::before {
        content: "";
        /*background-color: rgba(0, 0, 0, 0.5);  Adjust the opacity (0.5) as needed */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.lg-slide-logo,.lg-slide-logo-2{
    max-width: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.lg-slider-content{
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    position: absolute;
    bottom: 0;
    background: rgba(29, 52, 87, 0.8);

    opacity: 0; /* Initially, set the opacity to 0 to make it invisible */
    transform: translateY(20px); /* Initial position, slightly below */
    animation: fade-in-from-bottom 2s ease forwards; /* Animation definition */

}

.lg-slider-content h3{
    font-family: "Times New Roman";
    color: white;
    text-align: justify;
}

@keyframes fade-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start from slightly below */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Move to its original position (no translation) */
    }
}

@media only screen and (max-width: 1024px){
.lg-slider {
    background-position: right;
}
}

@media only screen and (max-width: 550px) {
    .lg-slide-logo{
        max-width: 240px;
    }

    .lg-slide-logo-2 {
        max-width: 160px;
    }

    .lg-slider{
        background-position: right;
    }

    .lg-slider-content {
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    }

    .lg-slider-content h3{
        font-size: 12px;
    }

}